body {
  background-color: #529994;
  color: #0B5751;
  font-family: 'Baumans', cursive;
}

header {
  background-color: #32827C;
  height: 120px;
}

h1 {
  text-align: center;
  font-size: 5em;
}

nav li {
  list-style-type: none;
  display: inline;
  margin-right: 20px;
  background-color: #86C0BC;
  padding: 5px 0px;
  text-decoration: none;
}

.selected {
  background-color: #0B5751;
  color: #86C0BC;
}

nav a {
  color: #0B5751;
  padding: 5px 25px;
}

nav a:active {
  color: #fff
}

main {
  margin: 0 40px;
}

.book_store {
  margin-top: 40px;
}

.music_store {
  margin-top: 50px;
}

h2 {
  font-size: 3em;
}

.book {
  margin: 50px auto;
}

.selling_points {
  margin-top: 10px;
}

footer {
  background-color: #86C0BC;
  margin-top: 40px;
  padding-left: 40px
}

.color-primary-0 { color: #32827C }
.color-primary-1 { color: #86C0BC }
.color-primary-2 { color: #529994 }
.color-primary-3 { color: #1C6F69 }
.color-primary-4 { color: #0B5751 }
