/* CSS is cAsE sEnSiTiVe
Can use style attribute within HTML elements or
Can place CSS within style HTML tags or
Can place CSS in external style sheet (most common)
Generic font familys include Monospace, Serif, Sans-Serif
Generic font family names are not case-sensitive and do not need quotes because they are CSS keywords.
multiple class declarations: <p class="class1 class2">
Units of length: px / absolute in or mm / relative em or rem
Highest specificity is to use !important keyword
"CSS Rules" consist of the "selector" and all "declarations"
"Declarations" consist of a "property" and a "value" */
.class { /* can have multiple elements with same class, higher specificity than HTML element selectors */
  color: #0000FF;
}
#id { /* higher specificity than classes, but inline html styles override ID's, only use each ID once */
  color: #F00;
}
.class1 .class2 {
  color: rgb(255, 255, 255) !important; /* highest specificity, even overrides inline styles */
}
.class1 h1 { /* nested */
  color: #FFF;
}
h1.special { /* chaining h1 elements that have special class */
  color: rgb(255, 0, 0);
}
h1, .menu { /* multiple selectors */
  margin: 0;
}
.btn:hover, .nav ul li:hover {
  cursor: pointer;
  list-style: none;
}
[type='radio'] { /* [attr=value] */
  margin: 20px 0px;
}
@media (min-width: 850px) {
  .header h1 {
    font-size: 120px;
  }
}
p {
  background: url(http://images.com/image.jpg) no-repeat center center;
    /* Old browsers */
    background: #141E30;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-45deg, #35577D, #141E30);
  background-color: silver; /* background */
  background-image: url("https://codecademy.com/image1.png");
  background-position: center;
  background-size: cover;
  border-color: red;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97); /* alpha 0 is invisible */
  color: blue; /* forground */
  cursor: pointer;
  display; block;
  float: left;
  font-family: Helvetica, Monospace; /* default is Times New Roman */
  font-size: 30px;
  font-style: italic; /* same as <em> */
  font-weight: 100; /* bold is same as <strong> */
  height: 800px;
  letter-spacing: 8px;
  line-height: 100px;
  list-style: none; /* square */
  margin: 5px 6px 7px 8px; /* margin-top/right/bottom/left */
    margin: 0;
  max-width: 940px;
  opacity: 0.5; /* 0 to 1 for 0% to 100% */
  padding: 5px 6px 7px 8px; /* padding-top/right/bottom/left */
  position: relative;
  text-align: center; /* justify */
  text-decoration: none; /* underline is same as <u>, line-through same as <del> */
  text-transform: uppercase;
  top: 200px;
  transition: background .5s;
  width: 30px; /* 100%, em */
}
