It should have a:
	DONE  1) place to store todos
	DONE  2) way to display todos
	DONE  3) way to add new todos
	DONE  4) way to change todos
	DONE  5) way to delete todos


Version 2:  37 minutes
Version 3:  33 minutes
Version 4:  19 minutes
Version 5:  34 minutes
Version 6:  16 minutes
