@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(//fonts.googleapis.com/css?family=Cantarell);
@import url(//fonts.googleapis.com/css?family=Lora);
/*FORM VARIABLES*/
/*RESPONSIVE VARIABLES*/
/*MAIN CONTENT*/
/*@import "modules/variables";*/
/*
Author: mike@codeavengers.com
*/
/* line 11, wiki-base.less */
html {
  background-color: rgba(220, 220, 220, 0.5);
  color: #5A3626;
  padding-top: 18px;
  height: 100%;
}
/* line 18, wiki-base.less */
body {
  font: normal 300 20px/30px 'Open Sans', sans-serif;
  margin: 0 auto;
  width: 330px;
}
/* line 24, wiki-base.less */
.wiki-index {
  height: 100%;
}
/* line 28, wiki-base.less */
header,
footer,
section {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}
/* line 35, wiki-base.less */
h1 {
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(230, 230, 230, 0.55));
  background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(230, 230, 230, 0.55));
  background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(230, 230, 230, 0.55));
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(230, 230, 230, 0.55));
  color: #666;
  font: normal 700 38px 'Lora', sans-serif;
  letter-spacing: 0.7px;
  margin: 0;
  padding: 30px 0px;
  text-align: center;
}
/* line 48, wiki-base.less */
h2,
h3,
h4 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  color: #777;
  font: normal 700 19px 'Open Sans', sans-serif;
  letter-spacing: 0.5px;
  margin: 0 0 20px 0;
  padding: 10px 0;
  text-transform: uppercase;
  clear: both;
}
/* line 59, wiki-base.less */
strong {
  color: #787878;
  font-weight: 600;
}
/* line 64, wiki-base.less */
a {
  color: #0064ff;
  font-weight: 400;
  text-decoration: none;
}
/* line 70, wiki-base.less */
a:hover {
  color: black;
  font-weight: 500;
}
/*img + a:first-of-type,
a + a {
  text-transform: uppercase;
}*/
/* line 81, wiki-base.less */
body > a {
  text-transform: uppercase;
}
/*Check with Tristan what the iframe, button links were for*/
/* line 86, wiki-base.less */
footer a,
iframe + a:last-of-type,
button + a:last-of-type,
a[href="/"]:nth-last-child(2),
a[href="/"]:last-child {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 97, wiki-base.less */
img {
  opacity: 0.8;
  padding: 30px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 105, wiki-base.less */
body > img:first-of-type {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0 auto 5px;
  padding: 0 0 10px;
  /*width: 40%;*/
}
/* line 113, wiki-base.less */
iframe {
  display: block;
  margin: 50px auto;
  width: 100%;
}
/* line 1, form-base.less */
button {
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #aaa;
  color: #888888;
  cursor: pointer;
  font-size: 20px;
  height: 60px;
  margin: 20px 0;
  padding: 4px 20px;
  text-transform: uppercase;
  vertical-align: middle;
  width: 99%;
}
/* line 16, form-base.less */
button:last-of-type {
  margin-bottom: 50px;
}
/* line 20, form-base.less */
button:hover {
  background-color: #66ccff;
  border: 2px solid #66ccff;
  color: white;
}
/* line 26, form-base.less */
textarea {
  background: #f5f5f5;
  color: #888888;
  font: normal 300 20px 'Arial';
  letter-spacing: 0.8px;
  margin: 10px 0 40px 0;
  padding: 10px 0 0 10px;
  resize: vertical;
  width: 96.6%;
}
/* line 37, form-base.less */
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #f5f5f5 url("/css/images/down-arrow-black.png") right center no-repeat;
  border: 1px solid #aaa;
  clear: right;
  color: #888888;
  display: block;
  font-size: 20px;
  height: 44px;
  letter-spacing: 0.8px;
  margin: 10px 0 80px 0;
  overflow: hidden;
  padding: 0 10px;
  vertical-align: middle;
  width: 99%;
}
/* line 56, form-base.less */
input {
  background-color: #f5f5f5;
  border: 1px solid #aaa;
  clear: right;
  color: #888888;
  display: block;
  font-size: 20px;
  height: 44px;
  letter-spacing: 0.8px;
  margin: 10px 0 40px 0;
  overflow: hidden;
  padding: 0 0 0 10px;
  vertical-align: middle;
  width: 96.6%;
}
/* line 72, form-base.less */
input[type="radio"],
input[type="checkbox"] {
  float: left;
  height: 22px;
  margin: 5px 10px 0 0;
  width: 22px;
}
/* line 80, form-base.less */
option {
  background-color: #5a5a5a;
  font-size: 20px;
  color: #ffffff;
}
/* line 86, form-base.less */
label {
  color: #888888;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
/* line 94, form-base.less */
label:hover {
  color: #66ccff;
}
/* line 98, form-base.less */
.subtitle {
  border-bottom: 1px solid #888888;
  border-top: 1px solid #888888;
  font-size: 26px;
  margin: 5px 0;
  padding: 15px;
  text-align: center;
  text-shadow: none;
}
/* CSS FOR RANGE ELEMENT*/
/* line 109, form-base.less */
input[type="range"] {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  display: inline;
  margin: 0 20px;
  padding: 0;
  -webkit-appearance: none;
  width: 240px;
}
/* line 118, form-base.less */
input[type="range"]:focus {
  outline: none;
}
/* line 121, form-base.less */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 9.8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ffffff;
  border-radius: 0px;
  border: 1px solid #aaa;
}
/* line 130, form-base.less */
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #aaa;
  height: 24px;
  width: 16px;
  border-radius: 1px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.1px;
}
/* line 141, form-base.less */
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
/* line 144, form-base.less */
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 9.8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ffffff;
  border-radius: 0px;
  border: 1px solid #aaa;
}
/* line 153, form-base.less */
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #aaa;
  height: 24px;
  width: 16px;
  border-radius: 1px;
  background: #ffffff;
  cursor: pointer;
}
/* line 162, form-base.less */
input[type="range"]::-ms-track {
  width: 100%;
  height: 9.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
/* line 170, form-base.less */
input[type="range"]::-ms-fill-lower {
  background: #ffffff;
  border: 1px solid #aaa;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
/* line 176, form-base.less */
input[type="range"]::-ms-fill-upper {
  background: #ffffff;
  border: 1px solid #aaa;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
/* line 182, form-base.less */
input[type="range"]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #aaa;
  height: 24px;
  width: 16px;
  border-radius: 1px;
  background: #ffffff;
  cursor: pointer;
  height: 9.8px;
}
/* line 192, form-base.less */
input[type="range"]:focus::-ms-fill-lower {
  background: #ffffff;
}
/* line 195, form-base.less */
input[type="range"]:focus::-ms-fill-upper {
  background: #ffffff;
}
@media screen and (min-width: 700px) {
  /* line 122, wiki-base.less */
  body {
    font-size: 24px;
    line-height: 38px;
    width: 600px;
  }
  /* line 128, wiki-base.less */
  h1 {
    font-size: 50px;
    padding: 30px 0;
  }
  /* line 133, wiki-base.less */
  h2,
  h3 {
    font-size: 26px;
  }
  /*footer a,
  iframe + a:last-of-type,
  button + a:last-of-type,
  img ~ a:last-of-type {
    padding-left: 135px;
  }*/
  /*body>img:first-of-type {
    padding: 0 37% 10px;
    min-width: 26%;
  }*/
  /* line 149, wiki-base.less */
  iframe {
    min-height: 400px;
  }
  /* line 1, form-responsive-700.less */
  button {
    font-size: 26px;
    height: 60px;
    margin-bottom: 50px;
  }
  /* line 7, form-responsive-700.less */
  select {
    margin: 30px 0 90px 0;
  }
  /* line 11, form-responsive-700.less */
  input[type="radio"],
  input[type="checkbox"] {
    height: 30px;
    margin: 5px 30px 0 0;
    width: 30px;
  }
  /* line 18, form-responsive-700.less */
  input[type="range"] {
    width: 495px;
  }
  /* line 22, form-responsive-700.less */
  textarea,
  input,
  select {
    font-size: 26px;
    height: 48px;
  }
  /* THIS IS FOR TIC TAC TOE BUTTON */
  /* line 30, form-responsive-700.less */
  button[id="button1"],
  button[id="button2"],
  button[id="button3"],
  button[id="button4"],
  button[id="button5"],
  button[id="button6"],
  button[id="button7"],
  button[id="button8"],
  button[id="button9"] {
    font-size: 130px;
    height: 190px;
    margin: 5px 2px;
    width: 190px;
  }
  /* THIS IS FOR TIC TAC TOE BUTTON */
  /* line 46, form-responsive-700.less */
  #playButton {
    font-size: 26px;
    height: 70px;
    width: 595px;
  }
  /* THIS IS FOR TIC TAC TOE SELECT */
  /* line 53, form-responsive-700.less */
  #selectTurn {
    width: 595px;
  }
}
/*# sourceMappingURL=wiki.css.map */